SECRET_KEY=
DJANGO_DEBUG=True

# Postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# MySQL (read-only)
CLIENT_MYSQL_DB=
CLIENT_MYSQL_USER=
CLIENT_MYSQL_PASSWORD=
CLIENT_MYSQL_HOST=
CLIENT_MYSQL_PORT=

# AWS
S3_CV_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_EMBEDDING_DIMENSIONS=2000
EMBED_BATCH_SIZE=64
OPENAI_LLM_MODEL=gpt-4.1-mini

# Data cutoff date
DATA_CUTOFF_DATE=2025-07-01

# Cache
DASHBOARD_ANALYTICS_CACHE_SECONDS=120